body{
    background-image: url("fond_frite.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    display:grid;
    grid-template-columns: 1fr;
    padding:1rem;
    text-align: left;
    grid-gap:0.5rem;
    align-items: center;
    

}

form .cb{
    display:grid;
    grid-template-columns: 1fr;
    padding-right:5rem;
    text-align: left;
    grid-gap:0;
    

}

table{
    border-collapse:collapse;
    border:1px solid black;
    border-radius: 10px;
    background-color: rgb(238, 237, 237);
    width: 50rem;
    height: 20rem;
    padding: 5px;
    margin: 10rem auto;
    
}

div label{
    padding-top: 1rem;
}
input{
    grid-auto-rows: auto;
}
.cb input{
    padding:1px 1px;

}
#MAP{
    padding-right:0.8rem ;
}

button{
    margin-top:2rem;
    text-align: center;
    margin-left:40%;
    display:inline-block;
    padding:0.8em 3em;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    margin-bottom: 2rem;

}
button:active{
    top:0.1em;
}
/* responsive */
@media (max-width:701px){
   #MAP{
    display:none;
   }
   form{
    align-items: center;
    }
    table{
        width: auto;
        height: auto;
        }
}
