*{
  margin: 0;
  padding: 0;
  font-family: "Baskerville Old Face", sans-serif;
  color: #31525b;
}



/* Partie Header */
header{
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  color: #31525b;
  background-color: #ffb94f;
  position: sticky;
  top: 0;
}
header ul{
  list-style-type: none;
  display: flex;
}
header ul li{
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  border: solid #31525b 1px;
}
header a{
  display: block;
  text-decoration: none;
  color: #31525b;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}
header a:hover{
  color: #31525b;
  box-shadow: rgb(210, 130, 1) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.hidden{
  display: none;
  box-shadow: 0 1px 2px #CCC;
  background-color: #ffb94f;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
header > ul li:hover .hidden{
  display: flex;
  flex-flow: column wrap;
}
.hidden li{
  flex: 1 1 auto;
  text-align: left;
}
.hidden a{
  padding: 10px;
  border-bottom: none;
}
.hidden a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.menu > a::after{
  content:" ▼";
  font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

/* Partie Footer */


.footer {
  background-color:#ffb94f;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  font-size: large;
  text-transform: uppercase;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 10px;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  margin-top: 10px;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
  margin-top: -10px;
}
.div4 {
  grid-area: 3 / 3 / 4 / 4;
  margin-top: -10px;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
  font-size: x-large;
  margin-top: -10px;
  text-decoration: underline;
}

@media screen and (max-width: 701px) {
  .footer{
    height: 6rem;
    font-size:small;
    margin:0;
  }
}